In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn import svm

In [5]:
data = pd.read_csv('emails_data.csv')

In [6]:
import pandas as pd
from collections import Counter
import re
from nltk.corpus import stopwords
import string

def extract_words(text):
    stop_words = set(stopwords.words('english'))
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Tokenize and convert to lowercase
    words = re.findall(r'\b\w+\b', text.lower())
    # Remove stop words
    words = [word for word in words if word not in stop_words]
    word_counts = Counter(words)
    return word_counts

def process_emails(df):
    emails_data = []
    for index, row in df.iterrows():
        content = row['Message']
        words_freq = extract_words(content)
        emails_data.append(words_freq)
    processed_df = pd.DataFrame(emails_data)
    processed_df = processed_df.fillna(0)
    return processed_df

# Read data from CSV file
data_df = pd.read_csv(r'emails_data.csv')  # Update with your CSV file path

# Process emails
processed_df = process_emails(data_df)

# Combine processed data with labels
processed_df['label'] = data_df['label']

# Save processed data to a new CSV file
processed_df.to_csv(r'processed_data.csv', index=False)

MemoryError: Unable to allocate 156. GiB for an array with shape (37575, 558129) and data type object

In [ ]:
data

         sno label                                            Message
0          1  spam  mv 1 00001.bfc8d64d12b325ff385cca8d07b84288\nm...
1          2  spam  From ilug-admin@linux.ie  Tue Aug  6 11:51:02 ...
2          3  spam  From ilug-admin@linux.ie  Tue Aug  6 11:51:02 ...
3          4  spam  From 12a1mailbot1@web.de  Thu Aug 22 13:17:22 ...
4          5  spam  From lmrn@mailexcite.com  Mon Jun 24 17:03:24 ...
...      ...   ...                                                ...
37570  37571   ham  Subject: fw : abandoned pipe ownership\nfyi , ...
37571  37572   ham  Subject: start date : 2 / 7 / 02 ; hourahead h...
37572  37573   ham  Subject: fw : tw question in amarillo\nfyi , k...
37573  37574   ham  Subject: start date : 2 / 6 / 02 ; hourahead h...
37574  37575   ham  Subject: fw : re ivanhoe e . s . d\nfyi , kim ...

[37575 rows x 3 columns]

In [ ]:
data.head()

   sno label                                            Message
0    1  spam  mv 1 00001.bfc8d64d12b325ff385cca8d07b84288\nm...
1    2  spam  From ilug-admin@linux.ie  Tue Aug  6 11:51:02 ...
2    3  spam  From ilug-admin@linux.ie  Tue Aug  6 11:51:02 ...
3    4  spam  From 12a1mailbot1@web.de  Thu Aug 22 13:17:22 ...
4    5  spam  From lmrn@mailexcite.com  Mon Jun 24 17:03:24 ...

In [ ]:
data.tail()

         sno label                                            Message
37570  37571   ham  Subject: fw : abandoned pipe ownership\nfyi , ...
37571  37572   ham  Subject: start date : 2 / 7 / 02 ; hourahead h...
37572  37573   ham  Subject: fw : tw question in amarillo\nfyi , k...
37573  37574   ham  Subject: start date : 2 / 6 / 02 ; hourahead h...
37574  37575   ham  Subject: fw : re ivanhoe e . s . d\nfyi , kim ...

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37575 entries, 0 to 37574
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sno      37575 non-null  int64
 1   label    37575 non-null  object
 2   Message  37575 non-null  object
dtypes: int64(1), object(2)
memory usage: 880.8+ KB

In [ ]:
data.describe()

                sno
count  37575.000000
mean   18788.000000
std    10847.112519
min        1.000000
25%     9394.500000
50%    18788.000000
75%    28181.500000
max    37575.000000

In [ ]:
data.isnull()

         sno  label  Message
0      False  False    False
1      False  False    False
2      False  False    False
3      False  False    False
4      False  False    False
...      ...    ...      ...
37570  False  False    False
37571  False  False    False
37572  False  False    False
37573  False  False    False
37574  False  False    False

[37575 rows x 3 columns]

In [ ]:
X = data['Message'].values
y = data['label'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

In [ ]:
# Converting String to Integer
cv = CountVectorizer()  
X_train = cv.fit_transform(X_train)
X_test = cv.transform(X_test)

In [ ]:
print(X_train)

  (0, 107207)	6
  (0, 72234)	8
  (0, 124354)	92
  (0, 75984)	82
  (0, 107052)	6
  (0, 257666)	7
  (0, 14538)	7
  (0, 11321)	5
  (0, 31951)	3
  (0, 30383)	2
  (0, 14872)	8
  (0, 211769)	1
  (0, 233410)	1
  (0, 180032)	1
  (0, 273854)	13
  (0, 299348)	5
  (0, 150241)	5
  (0, 262871)	4
  (0, 269103)	4
  (0, 230039)	5
  (0, 210852)	4
  (0, 138055)	2
  (0, 9725)	2
  (0, 269840)	2
  (0, 239296)	1
  :	:
  (30059, 97361)	2
  (30059, 88523)	1
  (30059, 232164)	1
  (30059, 10467)	1
  (30059, 238249)	1
  (30059, 609)	1
  (30059, 778)	1
  (30059, 181)	1
  (30059, 81564)	13
  (30059, 239443)	1
  (30059, 52553)	1
  (30059, 14396)	1
  (30059, 289410)	1
  (30059, 81562)	1
  (30059, 289980)	1
  (30059, 289187)	1
  (30059, 48843)	1
  (30059, 260106)	1
  (30059, 93453)	1
  (30059, 229453)	1
  (30059, 81563)	1
  (30059, 10473)	1
  (30059, 247969)	1
  (30059, 241422)	1
  (30059, 87725)	1

In [ ]:
print(X_test)

  (0, 3901)	1
  (0, 3903)	7
  (0, 5367)	2
  (0, 5603)	1
  (0, 5777)	1
  (0, 6460)	2
  (0, 7587)	1
  (0, 9033)	7
  (0, 9461)	2
  (0, 9641)	1
  (0, 9725)	3
  (0, 9886)	1
  (0, 10452)	1
  (0, 10608)	6
  (0, 10970)	1
  (0, 11200)	1
  (0, 11321)	4
  (0, 11351)	2
  (0, 11447)	1
  (0, 12980)	1
  (0, 13353)	5
  (0, 13409)	1
  (0, 13441)	2
  (0, 13467)	1
  (0, 14872)	9
  :	:
  (7514, 189219)	3
  (7514, 192153)	1
  (7514, 201031)	6
  (7514, 203486)	2
  (7514, 205383)	8
  (7514, 205792)	4
  (7514, 206311)	9
  (7514, 210758)	2
  (7514, 215329)	7
  (7514, 227567)	4
  (7514, 229372)	4
  (7514, 238522)	1
  (7514, 240602)	1
  (7514, 244298)	3
  (7514, 247394)	2
  (7514, 257709)	1
  (7514, 259231)	12
  (7514, 262738)	8
  (7514, 266107)	1
  (7514, 270947)	24
  (7514, 271517)	1
  (7514, 272940)	4
  (7514, 273854)	5
  (7514, 274524)	14
  (7514, 285801)	1

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 10)
classifier.fit(X_train, y_train)
print(classifier.score(X_test,y_test))

0.9347970725216235